<div class="container">
<h1>Kontakta oss</h1>
<p>
Dina frågor är viktiga för oss. Vänligen fyll i och skicka ditt meddelande via mail-formuläret nedan.
</p>
<h4>Kino2punktnoll</h4>

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <div class="form-outline">
      <input type="text" class="form-control" id="validationCustom01" required />
      <label for="validationCustom01" class="form-label">Förnamn</label>
      <div class="valid-feedback">Ser bra ut!</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <input type="text" class="form-control" id="validationCustom02"  required />
      <label for="validationCustom02" class="form-label">Efternamn</label>
      <div class="valid-feedback">Ser bra ut!</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group form-outline">
      <input type="tel" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required />
      <label for="validationCustomUsername" class="form-label">Telefonnummer</label>
      <div class="invalid-feedback">Ange ett giltigt Telefonnummer</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-outline">
      <input type="text" class="form-control" id="validationCustom03" required />
      <label for="validationCustom03" class="form-label">Stad</label>
      <div class="invalid-feedback">Vänligen ange en stad.</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-outline">
      <input type="text" class="form-control" id="validationCustom05" required />
      <label for="validationCustom05" class="form-label">Postaddress</label>
      <div class="invalid-feedback">Vänligen ange ett postnummer.</div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
      <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
      <div class="invalid-feedback">You must agree before submitting.</div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Skicka</button>
  </div>
</form>
<p>Postaddress</p>
Enbärsvägen 1, SE-635 06 Eskilstuna, Sverige
Tel +46709427973
<br>
Biografen ligger 20 minuters bilfärd från centrala Eskilstuna.
</p>
</div>