<footer class="footer-expand-md bg-dark text-center text-white sticky-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/JohanEkstroem/Kino2punktnoll">Johan Ekström</a>
  </div>
</footer>