<div class="bg-dark text-center text-white">
  <header class="header">
    <h1 class="text-center text-white">Kino2punktnoll</h1>
  </header>
  <nav class="navbar navbar-expand-md justify-content-center">
    <ul class="navbar-nav">
      <li><a href="/" class="nav-link">Hem</a></li>
      <li><a href="/movies" class="nav-link">Filmer</a></li>
      <li><a href="/covidinformation" class="nav-link">Covid-information</a></li>
      <li><a href="/contact" class="nav-link">Kontakta oss</a></li>
      <li><a href="/login" class="nav-link">log in</a></li>
    </ul>
  </nav>
</div>