<h1>Log in for reviews</h1>

<form action='' method='get' id="loginForm">
    <label for="username">Name :</label>
    <input type="username" name="username" id='idUsername'><br><br>
    <label for="pwd">Password:</label>
    <input type="password" name="pwd" minlength="1" id="idPassword"><br><br>
    <input name="form" type="submit" value="Log in"/>
</form>
<br>
<button id="logout">Log out</button>

<script src="../../static/getLogin.js"></script>
<script src="../../static/logout.js"></script>
