<div class="container-fluid">
      <div class="card m-2">
          <h5 class="card-header">{{ movie.attributes.title }}</h5>
        <img class="card-img-top" src="{{{ movie.attributes.image.url }}} ">
        <div class="card-body">
          <p class="card-text"> {{{ markdown  movie.attributes.intro }}}</p>
        </div>
  </div>

<div class="p-2">
  <div class="form-group">
    <label for="namePostReviewForm">Namn</label>
    <input type="email" class="form-control" id="namePostReviewForm" placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="ratingPostReview">Välj betyg 1-5</label>
    <select class="form-control" id="ratingPostReview">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    </div>
    <div class="form-group">
      <label for="commentPostReview">Lämna kommentar</label>
      <textarea class="form-control" id="commentPostReview" rows="3"></textarea>
    </div>
    <button id="submitPostReview">Skicka</button>
  </div>
</div>
