<div class="container-fluid">
      <div class="card m-2">
          <h5 class="card-header">{{ movie.attributes.title }}</h5>
        <img class="card-img-top" src="{{{ movie.attributes.image.url }}} ">
        <div class="card-body">
          <p class="card-text"> {{{ markdown  movie.attributes.intro }}}</p>
        </div>
  </div>
  <form class="p-2">
  <div class="form-group">
    <label for="exampleFormControlInput1">E-post</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Välj betyg 1-5</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Lämna kommentar</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" type="post">Skicka</button>
</form>
</div>
